<div class=" blue z-depth-4 lighten-2 col s12">

    <div class="valign-wrapper">
        <h1 class="valign center-align">dr <i class="mdi-maps-local-hospital"></i> ello</h1>
    </div>
    <p class = "valign center-align">personalized health ed material from your own provider</p>
    <br>
    <br>

    <div class="col s8 center-align">
        <div class="col s4">
            <a href="/user/new" class="center-align waves-effect waves-light btn-large blue">Sign up</a>
            <div class="col s4">
                <a href="/session/new" class="center-align waves-effect waves-light btn-large blue">Log in</a>
            </div>
        </div>
    </div>
</div>