<div class="blue-grey lighten-4 col s12 ">
<div class=" blue z-depth-4 lighten-2 col s12 section">
    <br>
    <br>
    <br>
    <div class="valign-wrapper">
        <h1 class="valign center-align">dr <i class=" z-depth-1 mdi-maps-local-hospital"></i> ello</h1>
    </div>


    <br>
    <br>
    <p class = "valign center-align">personalized health ed material from your own provider</p>
    <br>
    <br>

    <br>
    <br>

    
</div>


 <div class = "col s8">
 <br>
 <br>

 <br>
    <div class="col s12 center-align">
        <div class="col s4">
            <a href="/user/new" class="z-depth-2 center-align waves-effect waves-light btn-large blue">Sign up</a>
            <div class="col s4">
                <a href="/session/new" class="z-depth-2 center-align waves-effect waves-light btn-large blue">Log in</a>
            </div>
        </div>
    </div> 
<br>
<br>
<br>

 </div>